
@{
    /**/

    ViewBag.Title = "AddNewMatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DVSleague.ViewModel.AddNewMatchChoices

<h2>Add new match</h2>

@using (@Html.BeginForm("AddMatch", "Match", new { leagueId = ViewBag.LeagueId }, FormMethod.Post, null))
{
    <div class="form-group">
        <label>Home team:</label>
        @Html.DropDownListFor(m => m.Match.HomeTeam.Id, Model.Teams, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Away team:</label>
        @Html.DropDownListFor(m => m.Match.AwayTeam.Id, Model.Teams, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Match time:</label>
        @Html.TextBoxFor(m => m.Match.MatchTime, new { @class = "form-control datePicker" })
    </div>

    <div class="form-group">
        <label>Home team score:</label>
        @Html.TextBoxFor(m => m.Match.HomeScore, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Away team score:</label>
        @Html.TextBoxFor(m => m.Match.AwayScore, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts{
    <script>
        $(".datePicker").datepicker({
            changeMonth: true,
            changeYear: true
        })
    </script>
}